.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #0051ff; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #0051ff; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.material-symbols-outlined {
  font-size: 100rem; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #ffff; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2, h3, h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 180px;
  height: 100px;
  color: #fff;
  text-transform: uppercase; }

#logo2 {
  width: 220px;
  height: 100px;
  color: #fff;
  text-transform: uppercase; }

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    #main-nav a:hover {
      border-color: #ccc; }
    #main-nav a.current {
      border-color: #0051ff; }

#header-home {
  background: url("../img/cal_gold.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #ffff; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }
