.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #0051ff; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #0051ff; }

.bg-main {
  background: #0051ff;
  color: set-text-color(#0051ff); }

.bg-dark {
  background: #333;
  color: set-text-color(#f4f4f4); }

.bg-light {
  background: #f4f4f4;
  color: set-text-color(#f4f4f4); }

.bg-medium {
  background: #ccc;
  color: set-text-color(#ccc); }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.about-title {
  color: #f4f4f4;
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.about-skill {
  color: #f4f4f4; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #0051ff;
  display: block;
  margin: 0 auto 1rem auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #ffff; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2, h3, h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 180px;
  height: 97px;
  color: #fff;
  justify-content: left;
  text-transform: uppercase; }

#logo2 {
  width: 220px;
  height: 97px;
  color: #fff;
  justify-content: left;
  text-transform: uppercase; }

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    #main-nav a:hover {
      border-color: #ccc; }
    #main-nav a.current {
      border-color: #0051ff; }

#header-home {
  background: url("../img/cal_gold.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #ffff; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }
    #header-home .header-content .person-img {
      width: 14rem;
      height: 14rem;
      border-radius: 50%;
      border: 1px white;
      padding: 0.5rem;
      opacity: 0.9; }

#header-inner {
  background: url("../img/cal_gold.jpg") no-repeat 20% 30%/cover;
  height: 6rem;
  border-bottom: 3px solid #0051ff; }

#home-a .specials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

#about-a .about-info {
  display: grid;
  grid-template-areas: 'bioimage bio bio' ' id1 id2 id3';
  gap: 1.2rem; }

#about-a .bio-image {
  grid-area: bioimage;
  height: 20rem;
  width: 14rem; }

#about-a .bio {
  grid-area: bio;
  padding: 0.8rem; }

#about-a .id1 {
  grid-area: id1; }

#about-a .id2 {
  grid-area: id2; }

#about-a .id3 {
  grid-area: id3; }

#about-a .id1 .fa,
#about-a .id2 .fa,
#about-a .id3 .fa {
  margin: 1rem; }

#about-b .progress {
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 0.3rem; }
  #about-b .progress div {
    height: 100%;
    color: #ffff;
    text-align: center;
    background: #FAC213; }

#main-footer {
  background: #333;
  color: #fff;
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center; }
    #main-footer .footer-content .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem; }
      #main-footer .footer-content .social .fab:hover {
        background: #FAC213; }
      #main-footer .footer-content .social .fab-a {
        color: inherit; }
